body {
    min-width: 1229px;
}

header {
    width: 80%;
    min-width: 600px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.titleTiles {
    width: 80px;
    transform: rotate(8deg)
}


/* Scrabble Board */
#scrabbleBoard {
    height: 76px;
    width: 532px;
    margin: 70px auto;
    display: flex;
}

.boardTileImage {
    height: 74px;
    width: 74px;
    border: 1px solid black;
}

/* CSS Code for the area where the tiles the player can currently choose from are located. */

#tileHandContainer {
    width: 580px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#tileHolderTable {
    border-collapse: collapse;
}

#tileHolderRow {
    position: absolute;
    top: 5px;
    left: -10px;
}

.tileHolderCell {
    width: 72px;
    height: 78px;
}

#tileHolder {
    width: 580px;
    height: 110px;
}

.ui-widget-content {
    border: none !important;
}

.draggable { 
    width: 72px;
    height: 78px;
    border-radius: 6px;
    position: relative;
}

.tiles {
    width: 72px;
    height: 78px;
    border-radius: 6px;
}
